<form action="/adSched" method="POST">
    <tr class="appointmentBlock">
    <input type="hidden" name="id" value="{{id}}">
    <td class="id" name="id" >{{id}}</td>
    <td class="fullName"name="fullName">{{fullName}}</td>
    <td class="email"name="email">{{email}}</td>
    <td class="mobile"name="mobile">{{mobileNumber}}</td>
    <td class="dentist"name="dentist">{{dentist}}</td>
    <td class="service"name="service">{{service}}</td>
    <td class="date"name="date">{{date}}</td>
    <td class="time"name="time">{{time}}</td>
    <td class="approved"name="approved">{{approved}}</td>
    <td><button type="submit">approve</button></td>
</tr>
</form>
