<form  action="/adMan" method="POST">
<tr>
    
    <input type="hidden" name="email" value="{{email}}">
    <td>{{id}}</td>
    <td>{{fullName}}</td>
    <td>{{userType}}</td>
    <td>{{username}}</td>
    <td>{{email}}</td>
    <td>{{mobileNumber}}</td>
    <td>{{password}}</td>
    <td><button type="submit">Edit</button></td>
</tr>
</form>