<!DOCTYPE html>
<html>
  <head>
    <title>Admin Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/style2.css">
    <link rel="stylesheet" href="css/profile pic.css">
  </head>

  <body>
    {{>adminnav}}
    {{>adsideadmin}}

    <div class="content">
        <div class="container mt-4">
          <div class="row">
            <div class="col-md-6">
              <a href="#" class="back-button">Back</a>
              <h3>Edit User Account</h3>
              <form action="/deleteuser" method="POST">
              <input type="hidden" name="id" value="{{user.id}}">
              <div id="delete-button"><button type="submit"class="delete-button">Delete</button></div>
              </form>
            </div>
          </div>
          <form method ="POST" action="/uploadedit" enctype="multipart/form-data">
            
          <div class="row">
            <div class="col-md-6">
              <!-- Container for the profile picture and button -->
              	<div class="profile-container">
                  <input  name="myImage" type="file" id="file" accept="image/*" hidden>
                  <div class="img-area" id="profile-picture" data-img="{{user.image}}" ">
                    <i class='bx bxs-cloud-upload icon'></i>
                    <img src="images/profile/{{user.image}}">
                  </div>
                  <a class="select-image" id="edit-button">Select Image</a>
                </div>
            </div>
    
            <!-- Add two columns for the textboxes -->
            <div class="col-md-6">
                <div id="user-details">
              <div class="row">
                
                <input type="hidden" name="id" value="{{user.id}}">
                <div class="col-md-6">
                    Name
                  <input type="text" name="fullName" value="{{user.fullName}}" placeholder="Name">
                </div>
                <div class="col-md-6">
                    Email
                  <input type="text" name="email" value="{{user.email}}" placeholder="email">
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-6">
                    Username
                  <input type="text" name="username" value="{{user.username}}" placeholder="username">
                </div>
                <div class="col-md-6">
                    Contact Number
                  <input type="text" name="mobileNumber" value="{{user.mobileNumber}}" placeholder="contact">
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-6">
                    Account Role
                    <select name = "userType">
                        <option value="{{user.userType}}">Current : {{user.userType}} </option>
                        <option value="Admin">Admin</option>
                        <option value="Frontdesk">Frontdesk</option>
                      </select>
                </div>
                <div class="col-md-6">
                    Password
                  <input type="text" name="password" value="{{user.password}}" placeholder="password">
                </div>
              </div>
            </div>
          </div>          
        </div>
    

        <div class="button-container">
            <a  href="/adManage"><button class="cancel-button">Cancel</button></a>
            <button type="submit"class="save-button">Save</button>
          </div>

          </form>
          <br><br><br>
      <!--do not touch-->
    </div>
      </div>
      </body>


      
      
      
      
      
      
      

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="js/profile image.js"></script>
  </body>
</html>
